{% from "pve_exporter/map.jinja" import pve_exporter with context %}
default:
    user: {{ pve_exporter.pve_node.user }}
    password: {{ pve_exporter.pve_node.password }}
    verify_ssl: {{ pve_exporter.pve_node.verify_ssl }}
