{% from "pve_exporter/map.jinja" import pve_exporter with context %}
[Unit]
Description=pve_exporter for delivering node metrics for Prometheus
Requires=network-online.target
After=network-online.target
Documentation=https://github.com/znerol/prometheus-pve-exporter

[Service]
Restart=always
StandardOutput=syslog
StandardError=syslog
User={{ pve_exporter.user }}
Group={{ pve_exporter.group }}
ExecStart=/usr/local/bin/pve_exporter {{ pve_exporter.config_dir }}/pve.yml 

[Install]
WantedBy=multi-user.target
