# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with defaults from defaults.yaml ##}
{% import_yaml 'pve_exporter/defaults.yaml' as defaults %}


{## Merge user configuration from in pve_exporter:* pillar ##}
{% set pve_exporter = salt['pillar.get']('pve_exporter', default=defaults.pve_exporter, merge=True) %}
